<section id="about" class="bg-slate-900 mt-16">
  <div class="bg-slate-900 mx-8">
    <h2 class="text-2xl sm:text-4xl text-gray-200 font-medium text-center">ABOUT ME</h2>
    <p class="text-lg sm:text-xl text-gray-200 font-medium mt-8">
      Having the knowledge and skills to create websites and applications from the ground up
      satisfies a part of me that truly enjoys problem-solving and the production process.
    </p>
    <p class="text-lg sm:text-xl text-gray-200 mt-4">
      I am an effective communicator, collaborator, critical thinker, and project organizer, and I
      hope these skills along with my continued education in the field will bolster my capability as
      a web developer and aid me in helping others bring their ideas to life on the web efficiently
      and creatively.
    </p>
  </div>
</section>
