---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar";
import ScrollToTopButton from "../components/ScrollToTopButton";
import AboutSection from "../components/Sections/AboutSection";
import ContactSection from "../components/Sections/ContactSection";
import HeroSection from "../components/Sections/HeroSection";
import ProjectsSection from "../components/Sections/ProjectsSection";
import SkillsSection from "../components/Sections/SkillsSection";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Felipe Buencamino">
  <Navbar client:load />
  <main class="text-slate-300">
    <div class="max-w-6xl mx-auto">
      <HeroSection client:load />
      <AboutSection client:load />
      <ProjectsSection client:load />
      <SkillsSection client:load />
      <ContactSection client:visible />
      <Footer />
      <ScrollToTopButton client:load />
    </div>
  </main>
</Layout>
