---
import SocialLink from "./SocialLink.astro";
---

<footer
  class="border-t-2 h-16 border-white flex flex-row justify-between items-center px-4"
>
  <p class="text-slate-400 text-sm sm:text-base font-medium">
    © Designed and Built by Felipe Buencamino, 2024
  </p>
  <div class="flex flex-row gap-4">
    <SocialLink
      iconName="bi:github"
      href="https://github.com/felipeantoniob/"
      aria-label="Go to my Github"
    />
    <SocialLink
      iconName="grommet-icons:mail"
      href="mailto:felipebuencamino@gmail.com"
      aria-label="Send me an email"
    />
    <SocialLink
      iconName="fa-brands:telegram-plane"
      href="https://t.me/felipeantoniob"
      aria-label="Message me on Telegram"
    />
    <SocialLink
      iconName="fa-brands:linkedin"
      href="https://www.linkedin.com/in/felipe-antonio-buencamino-43143a292"
      aria-label="Message me on LinkedIn"
    />
  </div>
</footer>
