---
import { Icon } from 'astro-icon'
---

<style lang="css">
  [astro-icon] {
    width: 24px;
    height: 24px;
  }
</style>

<footer class="border-t-2 h-16 border-white flex flex-row justify-between items-center px-4">
  <p class="text-gray-500 text-sm sm:text-base font-medium">
    © Designed and Built by Felipe Buencamino, 2022
  </p>
  <div class="flex flex-row gap-4">
    <a
      href="https://github.com/felipeantoniob/"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:opacity-75 transition-all"
    >
      <Icon name="bi:github" />
    </a>
    <a
      href="mailto:felipebuencamino@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:opacity-75 transition-all"
    >
      <Icon name="grommet-icons:mail" />
    </a>
    <a
      href="https://t.me/felipeantoniob"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:opacity-75 transition-all"
    >
      <Icon name="fa-brands:telegram-plane" />
    </a>
  </div>
</footer>
